
/* Cards Styling */

.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
    padding: 1em;
    margin: 2em;
    border-radius: 10px;
    box-shadow: 3px 3px 5px -2px #c8c8c8;
}

.card:hover{
    box-shadow: 10px 3px 5px 0px #919191ed;
    /* background-color:#25bbf1; */
    background: linear-gradient(0deg, #0ad4fa 0%, rgba(254,254,254,0.35057773109243695) 29%, rgba(255,255,255,1) 100%);
    z-index: 1000;
    border: #0ad4fa;
    opacity: 1;
}

.card-hovered{
    position: absolute;
}

.img-hovered{
    opacity: 0.6
}

.card-cost{
    margin-left: 0.3em;
    margin-top: 0.1em;
}

.buttons-card-hovered{
    position: relative;
    display: flex;
    flex-direction: row;
}

.buy{
    margin-top: 0.2em;
    width: 1.5em;
    height: 1.5em;
}


.btn-dark{
    border-radius: 25px;
    font-size: larger;
    background: #0ad4fa;
    border: 1px solid #0ad4fa
}

.card-img-top:hover{
    background-color: #0ad4fa;
}

.coin{
    margin-left: 0.2em;
    margin-bottom: 0.2em;
}

.successRedeem{
    text-align: center;
    font-weight: 600;
    font-size: 1em;
}

#closeSuccessRedeeem{
    grid-area: closeSuccessRedeeem;
    color: #fff;
}

@keyframes rotateIn {
    0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
    }
    100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    }
}

.face{
    justify-self: center;
    width: 9em;
    height: 9em;
    animation: rotateIn 2s ease alternate infinite;
}

.product-modal-div{
    grid-area: product-modal-div;
    display:grid
}

.product-modal {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    color: #fff;
    background-image: linear-gradient(315deg,#03e9b7,#63e72f);
    display: grid;
    grid-template-columns: 10% 70% 10%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "... ... closeSuccessRedeeem"
    "... product-modal-div ... ";
    justify-content: center;
}

.product-modal-failed {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    color: #fff;
    background-image: linear-gradient(315deg,#d34909,#e26e20);
    display: grid;
    grid-template-columns: 10% 70% 10%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "... ... closeSuccessRedeeem"
    "... product-modal-div ... ";
    justify-content: center;
}


/* Header Styling */

.userNameInfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 25px;
}

.imageHeader{
    width: 10em;
    height: 10em;
}

.container-header{
    padding: 2rem;
    display: flex;
    margin-top: 5vh;
    width: 100%;
    height: 30vw;
    margin-top: 0px;
    background-image: url(./assets/header-x1.png);
    background-size: cover;

}

.title-header{
    color: #fff;
    align-self: center;
    font-size: 5em;
    font-weight: bold;
}

.button-headerCoins{
    padding: 0 .5rem 0 .7rem;
    margin: .5rem;
    font-size: 1.5em;
    border: none;
    background-color: #f0f0f0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.userName{
    line-height: 34px;
    margin: .5rem;
    font-weight: 500;
    font-size: 1.5em;
}

.headerOptions {
  display: flex;
  justify-content: space-between;
}

.historyButtons {
    line-height: 34px;
    margin: .5rem;
    margin-left: 25px;
    font-weight: 500;
    font-size: 1.5em;
    &:hover {
      border-bottom: 3px solid black;
      cursor: pointer;
    }
}
    


/* AddCoins Styling */

.modal-screen {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(70,70,70,.7);
}

.addCoins{
    width: 90%;
    max-width: 700px;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 1rem 1rem 2rem;
    margin: 5rem auto 0;
    position: relative;
    z-index: 1000;
    display: grid;
    grid-template-columns: auto auto auto 5%;
    grid-template-rows: 10% 25% auto;
    grid-template-areas: 
    "... ... ... closeAddCoins"
    "title-addCoins ... ... ..."
    "buttonAddCoins1 buttonAddCoins2 buttonAddCoins3 ...";
    
}

.button-addCoins{
    justify-self: center;
    width: 10em;
    height: 10em;
    border-radius: 10px;
    border: none;
    color: #2f2c3d;
    background-color: #fff;
    box-shadow: 5px 5px 5px -2px #b4b4b4;
    font-size: 1.2rem;
    font-weight: 700;
    
}

.one{
    grid-area: buttonAddCoins1;
}


.two{
    grid-area: buttonAddCoins2;
}


.three{
    grid-area: buttonAddCoins3;
}

.close{
    grid-area:closeAddCoins;
    width: 2em;
    height: 2em;
    padding: 0;
    border: none;
    background: none;
}

.title-addCoins{
    grid-area: title-addCoins;
    padding-left: 1em;
    align-self: center;

}

.successEnabled{
    display: contents;
}

.successDisabled{
    display: none;
}

.close-PointsSuccess{
    width: 2em;
    height: 2em;
    padding-bottom: 0.7em;
    border: none;
    background: none;
    color: #fff;
}

.successAddPoints{
    padding-top: 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0ad4fa;
    border-radius: 8px;
}

.successAddPoints:hover{
    -webkit-box-shadow: 4px 5px 13px 3px rgba(0,0,0,0.5); 
    box-shadow: 4px 5px 13px 3px rgba(0,0,0,0.5);
}


.success-pointsSuccess{
    color: #fff;
    padding-left: 0.2em;
}

table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
  } 
  
  th {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(rgb(18, 165, 209), rgb(8, 81, 104));
    border-left: 1px solid rgb(21, 152, 228);
    border-right: 1px solid rgb(21, 152, 228);
    border-top: 1px solid rgb(21, 152, 228);
    border-bottom: 1px solid rgb(21, 152, 228);
    box-shadow: inset 0 1px 0 rgb(159, 218, 245);
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;  
  }
  
  th:after {
    background: linear-gradient(rgba(6, 129, 160, 0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
  }
  
  th:first-child {
    border-left: 1px solid #777;  
    box-shadow: inset 1px 1px 0 #999;
  }
  
  th:last-child {
    box-shadow: inset -1px 1px 0 #999;
  }
  
  td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
  }
  
  td:first-child {
    box-shadow: inset 1px 0 0 #fff;
  } 
  
  td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
  } 
  
  tr {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png); 
  }
  
  tr:nth-child(odd) td {
    background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png); 
  }
  
  tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
  }
  
  tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
  } 
  
  tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
  } 
  
  tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
  }
  
  tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
  }


  /* Button Pagination */
  .btnPaginationLeft {
    cursor: pointer;
    position: relative;
    display: block;
    margin: 20px;
    width: 50px;
    height: 50px;
    border: solid 6px rgb(21, 152, 228);
    border-radius: 100%;
    z-index: 1;
    transition: all 0.2s linear;
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 35%;
      height: 10%;
      top: 33%;
      right: 55%;
      background: rgb(21, 152, 228);
      z-index: 2;
      transform: translate(50%, 50%) rotate(-45deg);
      transition: all 0.2s linear;
    }
    &:after {
      z-index: 3;
      top: 54%;
      right: 55%;
      transform: translate(50%, 50%) rotate(45deg);
    }
    &:hover {
      border: solid 8px rgb(18, 122, 182);
      &:after,
      &:before {
        background: rgb(18, 122, 182);
      }
    }
    &:active {
      border: solid 8px rgb(2, 3, 44);
      &:after,
      &:before {
        background:  rgb(2, 3, 44);
      }
    }
  }

  .buttonsPagination {
    display: flex;
    justify-content: space-between;
  }
  
  .btnPaginationRight {
    cursor: pointer;
    position: relative;
    display: block;
    margin: 20px;
    width: 50px;
    height: 50px;
    border: solid 6px rgb(21, 152, 228);
    border-radius: 100%;
    z-index: 1;
    transition: all 0.2s linear;
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 35%;
      height: 10%;
      top: 41%;
      left: 55%;
      background: rgb(21, 152, 228);
      z-index: 2;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: all 0.2s linear;
    }
    &:after {
      z-index: 3;
      top: 59%;
      left: 55%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:hover {
      border: solid 8px rgb(18, 122, 182);
      &:after,
      &:before {
        background: rgb(18, 122, 182);
      }
    }
    &:active {
      border: solid 8px rgb(2, 3, 44);
      &:after,
      &:before {
        background:  rgb(2, 3, 44);
      }
    }
  }
  
  /* Filters */

  .filters {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .btnFilter {
    background-color: rgb(58, 173, 240);; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .btnFilter:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .btnFilter:active {
    border-color: black;
  }